@import '../../scss/variables.scss';

.header {
    padding: 2rem 6rem;
    display: flex;
    justify-content: space-between;
    font-family: $quote-font;
    

    .nav{
        display: flex;
        width: 20%;
        justify-content: space-around;
        align-items: center;

       .is-selected {
        cursor: default;
        pointer-events: none;
       } 

       .link{
           display: inline-block;
           position: relative;
            text-decoration: none;
            color: $white;
            padding-bottom: 5px;
            font-family: $prim-font;
            

            &:after {
                content: '';
                display: block;
                position: absolute;
                top: calc(50% - 4px);
                width: 0;
                height: 2px;
                background-color: $white;
                transition: width .3s cubic-bezier(.22,.61,.36,1);
            }
    
            &:hover {
                color: $light-grey;

                &:after {
                    width: 100%;
                }
            } 
        }

        .active {
            color: $light-grey;
            &::after {
                width: 100%;
            }
        }
    }
}






    
 